In [5]:
#les listes:
my_list=["python","java","SQL","r","sas","c++","php","html"]
print(my_list[1])
print(my_list[-1])
print(my_list[2:5])
print(len(my_list))

java
html
['SQL', 'r', 'sas']
8

In [10]:
my_list=["python","java","SQL","r","sas","c++","php","html"]
my_list.append("matlab")
print(my_list)

my_list.insert(1,"spark")
print(my_list)

my_list[1]="scala"
print(my_list)

my_list.remove("java")
print(my_list)

del my_list[0]
print(my_list)

['python', 'java', 'SQL', 'r', 'sas', 'c++', 'php', 'html', 'matlab']
['python', 'spark', 'java', 'SQL', 'r', 'sas', 'c++', 'php', 'html', 'matlab']
['python', 'scala', 'java', 'SQL', 'r', 'sas', 'c++', 'php', 'html', 'matlab']
['python', 'scala', 'SQL', 'r', 'sas', 'c++', 'php', 'html', 'matlab']
['scala', 'SQL', 'r', 'sas', 'c++', 'php', 'html', 'matlab']

In [19]:
#dictionary:
my_dictionary={"knowledge":"Data science","tool":"python","year":2020}
for key in my_dictionary.keys():
    print(key)#afficher les keys
for value in my_dictionary.values():
    print(value)#afficher les valeurs
for item in my_dictionary.items():
    print(item)#afficher les deux
print(len(my_dictionary))#afficher le nombre d'elements
my_dictionary["tool"]#afficher la variable d une key...
my_dictionary["learn"]=True
print(my_dictionary)#ajouter une key avec sa var 
my_dictionary["year"]=2022
print(my_dictionary)#changer la var de 2020 a 2022
my_dictionary.pop("tool")
print(my_dictionary)#pour effacer un element
del my_dictionary#pour effacer tout le dictionary

knowledge
tool
year
Data science
python
2020
('knowledge', 'Data science')
('tool', 'python')
('year', 2020)
3
{'knowledge': 'Data science', 'tool': 'python', 'year': 2020, 'learn': True}
{'knowledge': 'Data science', 'tool': 'python', 'year': 2022, 'learn': True}
{'knowledge': 'Data science', 'year': 2022, 'learn': True}

In [23]:
#set:
my_set={"python","java","R"}
print(my_set)#afficher la list
my_set.add("scalla")
print(my_set)#ajouter un element
my_set.remove("R")
print(my_set)#effacer un element

{'java', 'python', 'R'}
{'java', 'python', 'R', 'scalla'}
{'java', 'python', 'scalla'}

In [26]:
#tuples:
my_tuple=("python","java","R")
print(my_tuple[1])#pour afficher l element 1
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)#additionner et afficher 1 et 2

java
('a', 'b', 'c', 1, 2, 3)

In [27]:
#checkpoint:
#q1:
list=(2,3,6)
m=1
for i in list:
    m=m*i
print(m)

36

In [31]:
#q2:
#methode01:
def last(n): 
    return n[-1]   
   
def sort(tuples): 
    return sorted(tuples, key=last) 
   
a=[(2, 5), (1, 2), (2, 3),(2, 1)] 
print("Sorted:") 
print(sort(a))
#methode02:
list=[(2, 5), (1, 2), (2, 3),(2, 1)]
list.sort()
print(list)

Sorted:
[(2, 1), (1, 2), (2, 3), (2, 5)]
[(1, 2), (2, 1), (2, 3), (2, 5)]

In [8]:
#q3:
d1={'a':100,'b':200,'c':300}
d2={'a':300,'b':200,'d':400}
d3={}
for key in d1.keys():
    if key in d2.keys():
            d3[key]=d1[key]+d2[key]
    elif key not in d2.keys():
            d3[key]=d1[key]
for key2 in d2.keys():
        if key2 not in d1.keys():
            d3[key2]=d2[key2]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [11]:
#q4:
n=input("entrer la valeur de n:")
n=int(n)
my_dictionary={}
p=1
i=1
while i!=n+1:
    p=i**2
    my_dictionary[i]=p
    i=i+1
print(my_dictionary)

entrer la valeur de n:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [13]:
#q5:
list=[('item1','12.20'),('item2','15.10'),('item3','24.5')]
list.sort(reverse=True)
print(list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]